/* .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */


/* position: relative;
    margin: auto;
    height: 527px;
    overflow-y: scroll;
    padding: 20px; */
/* .form-container h2 {
    text-align: center;
} */
/*  */
/* .form-group {
    margin-bottom: 15px;
} */

/* .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
 */
.addpurchase{
        font-family: 'Poppins', sans-serif;
        background-color: #091644;
        color: white;
        padding: 5px 5px;
        border-radius: 5px;
        cursor: pointer;
        width: 200px;
        height: 40px;
}


.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}



.form-group input[type="number"] {
    width: 100px;
}



.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}


.modal_field {
    background-color: white;
}

.productform {
    height: 550px;
    overflow-y: scroll;
    padding: 10px;
}
.closeeditpurchaseorder{
    font-size: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
        /* padding: 10px; */
        position:absolute;
        top: 1px;
        right: 20px;
    
        border-radius: 50%;
    
        border: none;
    
        background-color: #091644;
    
        color: white;
    
        float: right;
    
        line-height: 0;
        cursor: pointer;
}
.vieworder{
    font-size: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
        /* padding: 10px; */
        position:absolute;
        top: -9px;
        right: -3px;
    
        border-radius: 50%;
    
        border: none;
    
        background-color: #091644;
    
        color: white;
    
        float: right;
    
        line-height: 0;
        cursor: pointer;
}
.closepurchaseorder{
    font-size: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
        /* padding: 10px; */
        position:absolute;
        top: -9px;
        right: -3px;
    
        border-radius: 50%;
    
        border: none;
    
        background-color: #091644;
    
        color: white;
    
        float: right;
    
        line-height: 0;
        cursor: pointer;
}