.main {

    text-align: center;

    justify-content: center;

    display: flex;

    padding-top: 90px;

    padding-bottom: 90px;
    height: 100vh;
    width: 100vw;
    /* background: rgb(2,0,36); */
    /* background: radial-gradient(circle, rgba(9, 22, 68, 1) 13%, rgba(9, 22, 68, 1) 39%, rgba(59, 108, 207, 1) 100%); */

    background-color: #091644;


}

input::placeholder {
    font: 14px;
}

.sub-main {

    display: flex;

    justify-content: center;

    height: max-content;

    width: max-content;

    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 10px;

    background-color: white;

}

.imgs {

    padding-top: 20px;

    justify-content: center;

    display: flex;

}

.container-image {

    background-color: rgb(223, 221, 221);

    border-radius: 150px;

    align-items: center;

    display: flex;

    justify-content: center;

    height: 115px;

    width: 115px;

}




input {

    width: 228px;
    font-family: "Poppins";
    height: 50px;
    border-radius: 5px;
    border: 1px solid #777676;
    outline: none;



}

.sidediv {
    display: flex;
    gap: 20px;
}

select {
    border-radius: 5px;
    border: 1px solid #777676;
    outline: none;
    padding-left: 70px;

}

.email {

    height: 25px;

    width: 25px;

    position: absolute;

    padding: 14px 0 0 25px;

}



.name {

    padding-left: 70px;


}

.second-input {

    padding-top: 20px;
    width: 300px;

}




/* button {

    width: auto;

    height: 50px;

    font-family: 'Poppins', sans-serif;

    border-radius: 5px;

    background-color: #091644;

    color: white;

    font-size: 16px;

    margin-top: 20px;

    border: none;

} */

.login-button:hover {
    background-color: #3B6CCF;
    color: white;
}

.login-button {
    width: 300px;

    height: 50px;

    font-family: 'Poppins', sans-serif;

    border-radius: 5px;

    background-color: #091644;

    color: white;

    font-size: 16px;

    margin-top: 20px;

    border: none;


}


.sign-button {
    width: 300px;

    height: 50px;

    font-family: 'Poppins', sans-serif;

    border-radius: 5px;

    font-size: 16px;

    margin-top: 20px;

    border: 2px solid;
    background-color: white;
}

.sign-button:hover {
    background-color: #3B6CCF;
    color: white;
}

.role-option {
    background-color: white;
    color: #091644;
}

.role-option:hover {
    background-color: #091644;
    color: white;
}

.link {

    font-size: 25px;

    font-weight: 400;

}

a {

    color: blue;

}