.dashboard{
    /* align-items: center; */
    
}

.body-cont {
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  /* align-items: center; */
}

.charts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .bar-chart {
    /* width: 500px !important; */
    height: 400px;
    margin-right: 24px;
  }

  .pie-chart {
    /* width: 500px !important; */
    height: 400px !important;
  }
  
  
  .dashh2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .dashp {
    font-size: 18px;
    margin: 0;
  }
  .dashcard {
    display:flexbox;
    min-width: 250px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* .dashcard h2 {
    margin-top: 0;
  } */
  
  .chart {
    margin-bottom: 20px;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  canvas {
    /* height: 400px !important; */
    
    margin-right: 0px !important;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter dashcards */
  .dashcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }