/* Dashboard.css */
.body-cont {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.bar-chart,
.pie-chart {
  height: 400px;
  min-width: 400px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashcard {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashh2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.dashp {
  font-size: 24px;
  margin: 0;
  color: #555;
}

/* Add some spacing between the cards */
.column {
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

canvas{
  height: 400px !important;
  padding: 8px !important;
}

/* Responsive columns */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .bar-chart,
  .pie-chart {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 400px !important;
    min-width: 400px !important;
    /* max-width: 600px !important; */
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  }


}
.row{
  display: flex;
  flex-direction: row;
  gap: 100px;
}