.options-vendor {
    height: 20px;
}

.selectVendor {
    margin-bottom: 50px;
}

/* .purchaseForm {
    overflow-y: scroll;
    height: 500px;
    padding: 10px;
} */

.side1 {
    width: 50% !important;
}

.side2 {
    flex: 1;
}