.options-vendor {
    height: 20px;
}

.selectVendor {
    margin-bottom: 50px;
}
.purchaseForm {
    height: 500px;
    padding: 10px;
}

.error-color {
    color: red;
    text-align: center;
}

.side1 {
    width: 50% !important;
}

.side2 {
    flex: 1;
}