/* .Card {
    border: 2px solid #091644;
    width: 625px;
    border-radius: 16px;
    padding: 30px;
    margin: 20px;
    letter-spacing: 0.5px;
    height: 300px;
    overflow-y: scroll;
} */

.viewdetails {
    display: flex;
    justify-content: space-between;

}


.closes {
    float: right;
}

/* .contents {
    max-width: 600px !important;
    margin: 5px auto !important;
    padding: 30px !important;
    background: #f4f7f8 !important;
    border-radius: 5px !important;
    height: 600px !important;
    overflow-y: scroll !important;
} */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #091644;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3B6CCF;
}



.popup-arrow {
    color: rgb(255, 255, 255);
}

/* [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
} */

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}


.buttons {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #091644;
    color: white;
    padding: 5px 5px;
    margin: 35px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 40px;
}

.address {
    display: flex;
    gap: 160px;
}